
.cards-section {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border: none; 
}

.card-header,
.card-date-links,
.card-links,
.card-image-description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card-header > h1 {
  margin: 0;
}

.card-date-links > p {
  margin: 0;
}

.card-status {
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.card-button {
  padding: 0.5rem;
  width: 150px;
  background: rgb(45, 62, 243);
  border: 0;
  color: white;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.card-button:hover {
  background: rgb(34, 50, 203);
  cursor: pointer;
}

